@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  /* This media query only applies itself to the page during printing */
  header, footer, nav, .print--hide { 
    display: none !important; 
  }

  .page {
    page-break-after: always;
    margin: 0;
    padding: 0;
  }
}

@page {
  size: 11in 8.5in landscape;
  margin: 1em;
}
